// .rc-virtual-list-holder-inner{
//     direction: ltr;
// }
.ant-card {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-rows: max-content 1fr;
  &::after {
    content: "";
    position: absolute;
    width: 96%;
    height: 52%;
    left: 0;
    bottom: -8px;
    z-index: -1;
    background-color: white;
    border-radius: inherit;
    right: 0;
    margin: auto;
    opacity: 0.6;
  }
  .ant-card-body {
    display: grid;
    height: 100%;
    grid-template-rows: min-content max-content max-content 1fr;
  }
}

.ant-form {
  // display: flex;
  // flex-direction: column;

  &:nth-last-child(2) {
    @apply flex-1;
  }
}
